@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

:root {
    --backgroundColor: #FFFECA;
    --primaryTextBtnColor: #0000FF;
    --yellowTextBackground: #FFE400;
    --lightTextBackground: rgba(255, 255, 255, 1);
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--backgroundColor);
}

h1 {
    font-weight: 700;
    font-size: 2.4375rem;
    line-height: 2.75rem;
    font-style: normal;
    padding-top: 0.62rem;
    color: var(--primaryTextBtnColor);
}

h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8125rem;
}

p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
}

.button {
    border: none;
    border-radius: 0.3125rem;
    background: var(--html-blue, #00F);
    color: white;
    text-decoration: none;
    padding: 0.425rem .8rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

/* Button om terug omhoog te gaan */
.backToTop {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 0.3125rem;
    background: var(--html-blue, #00F);
    padding: 1.2vw;
    border: none;
    z-index: 10;
    transition: transform 300ms;
    cursor: pointer;
    box-shadow: 0 3px 5px #777777;


    & svg {
        fill: white;
        width: 8vw;
        height: auto;
    }

}

.backToTop:hover {
    transform: scale(0.9);
}

/* Header styling */
.header {
    display: flex;
    flex-direction: column;
    color: #0000FF;
    padding-left: 1.25rem;
    padding-top: 3.56rem;

    & .headerText {
        color: #0000FF;
    }

    & .logo {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        position: relative;
        padding-right: 1.81rem;
        padding-top: 1.5rem;
        margin-bottom: 6.88rem;

        & img {
            max-width: 11.375rem;
            height: auto;
        }
    }
}

/* Styling voor het eerste kaartje */
.introCard {
    max-width: 27.625rem;
    overflow: hidden;
    margin: auto;


    & .introCardImageContainer {
        position: relative;
        width: 100%;

    & .introCardImage {
        width: 100%;
        display: block;
        height: auto;
    } }

    & .introCardTextContainer {
        position: relative;
    }
    & .introCardTitle {
        display: inline-block;
        position: absolute;
        width: max-content;
        max-width: 100%;
        margin-left: auto;
        bottom: 100%;
        right: 0;
        background: white;
        color: var(--primaryTextBtnColor);
        padding-left: 1.63rem;
        padding-top: 0.94rem;
        padding-right: 0.81rem;
        padding-bottom: 0.44rem;
    }

    & .introCardText {
        color: var(--primaryTextBtnColor);
        background-color: white;
        padding-top: 1.31rem;
        padding-left: 2.44rem;
        padding-right: 0.81rem;
        padding-bottom: 1.31rem;
    }
}

/* Styling voor de lijst van feitjes en nummer */
.facts {
    text-align: center;
    flex-direction: column;
    padding-top: 6.88rem;


    & .factsTitle {
        color: var(--primaryTextBtnColor);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8125rem;
    }

    & .factsList {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style-type: none;
        align-items: center;
        padding-bottom: 7.19rem;
    }

    & .fact {
        display: inline-block;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875rem;
        color: var(--primaryTextBtnColor);
        background-color: var(--yellowTextBackground);
        border-radius: 3.125rem;
        padding-top: 0.31rem;
        padding-bottom: 0.31rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin-bottom: 0.94rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Styling voor de tweede kaart */
.introCardTwee {
    max-width: 27.625rem;
    overflow: hidden;
    margin: auto;

    & .introCardImageContainerTwee {
        position: relative;
        width: 100%;
        bottom: -4px;
    }

    & .introTextContainer{
        position: relative;
    }
    & .introCardTitleTwee {
        display: inline-block;
        position: absolute;
        width: max-content;
        bottom: 100%;
        left: 0;
        background: white;
        color: var(--primaryTextBtnColor);
        padding-left: 1.63rem;
        padding-top: 0.94rem;
        padding-right: 0.81rem;
        padding-bottom: 0.44rem;
    }

    & .introTextContainer {
        background-color: white;
        margin-bottom: 6.88rem;

    }

    & .introCardTextTwee {
        color: var(--primaryTextBtnColor);
        padding-top: 1.31rem;
        padding-left: 2.44rem;
        padding-right: 0.81rem;
    }
}

/* Styling voor stukje over Jasper */
.profileJasper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;


    & .profilePictureJasper {
        border-radius: 50%;
        margin-bottom: 1.56rem;
    }

    & .titleJasper {
        align-self: flex-start;
        color: var(--primaryTextBtnColor);
        font-size: 1.05rem;
        margin-bottom: 1rem;
    }

    & .textJasper {
        align-self: flex-start;
        color: black;
        font-size: 1.25rem;
        line-height: 2.1875rem;
        margin-top: 0.31rem;
    }

    /* & .buttonJasper{
        align-self: flex-start;
        border: none;
        border-radius: 0.3125rem;
        background: var(--html-blue, #00F);
        color: white;
        text-decoration: none;
        padding: 0.425rem .8rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        margin-top: 0.94rem;
    } */
}

/* Timeline styling */
.timelineContainer {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1em;
    margin: 0 auto;
    margin-top: 7.22rem;

    & .timeline {
        flex-direction: column;
        list-style: none;
        max-width: 27.625rem;
        padding-left: 0.63rem;
        padding-bottom: 6.5rem;
        border-left: 0.1em solid var(--primaryTextBtnColor);

        & .event {
            padding-left: .87rem;
            padding-bottom: 3.44rem;

            & .title {
                color: blue;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.8125rem;
                margin-top: 0.31rem;
            }

            & .title::before {
                content: "";
                background-color: var(--primaryTextBtnColor);
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                position: absolute;
                left: -0.965em;
            }

            & .date {
                font-weight: 300;
                z-index: 2;
            }

            & p {
                font-size: 1rem;
                font-weight: 300;
                margin-top: 0.31rem;
                margin-bottom: 1.56rem;
                line-height: 1.5625rem;
            }

            & .imageTimeline {
                width: 100%;
                max-width: 25.8125rem;
                padding-right: 1.38rem;
            }
        }
    }
}

/* Reis door de tijd */
.reis {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 6.88rem;

    & .collageTitel {
        color: blue;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8125rem;
        margin-bottom: 1.58rem;
    }

    & .gridContainerMobile {
        display: grid;
        grid-template-columns: 1.0613fr 1fr;
        gap: 0;
        max-width: 480px;
        margin: 0 auto;
        overflow: hidden;

        & img {
            max-width: 100%;
            height: auto;
            display: block;
            border: none;
        }
    }

    & .gridContainerTablet {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
        margin: 0 auto;
        overflow: hidden;

        & img {
            max-width: 100%;
            height: auto;
            display: block;
            border: none;
        }

    }
}

/* FelicitatieSection */
.felicitatieSection {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-top: 3.06rem;
    padding-left: 1.37rem;
    padding-right: 1.37rem;

    & .felicitatieText {
        background-color: var(--yellowTextBackground);
        padding: 1em;
        grid-column-start: 1;
        grid-column-end: span 6;
        grid-row-start: 1;
        grid-row-end: span 5;

        & h1 {
            font-size: 1.8rem;
            margin-bottom: .5rem;
        }


        & p {
            color: var(--primaryTextBtnColor);
            font-size: 3.66vw;
        }
    }

    & .felicitatieForm {
        background-color: white;
        padding: 1em;
        grid-column-start: 1;
        grid-column-end: span 6;
        grid-row-start: 3;
        grid-row-end: span 8;
        margin-right: -1em;
        margin-left: 1em;


        & label {
            display: block;
            color: var(--primaryTextBtnColor);
            font-size: 1em;
            /* line-height: 1em; */
        }

        & input[type=text],
        input[type=email],
        textarea {
            width: 100%;
            display: block;
            outline: none;
            border: none;
            border-bottom: 0.1em solid var(--primaryTextBtnColor);
            font-size: 1em;
            margin-bottom: .7em;
            margin-top: .7em;
            height: 2em;
        }

        & textarea {
            height: 10em;
            border-bottom: 0.15em solid var(--primaryTextBtnColor);
            resize: none;
            font-family: inherit;
            font-size: 1em;
        }
    }
}

/* Felicitatie berichten */
.berichtenSection {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    & h2 {
        display: flex;
        justify-content: center;
        color: var(--primaryTextBtnColor);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8125rem;
        padding-top: 6.87rem;
    }

    & .berichtenLijst {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1em;
        margin-left: 2.59rem;
        margin-right: 1.44rem;
        margin-bottom: 8.75rem;

        & li {
            border-left: 0.1em solid var(--dim, #888);
            padding: 1em;
            margin-bottom: 1em;

            & p {
                color: var(--primaryTextBtnColor);
            }

            & span {
                display: inline-block;
                margin-top: 0.31rem;
            }
        }
    }
}

/* classes voor de scroll down animatie */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.active {
    transform: translateY(0);
    opacity: 1;
}

/* Tablet styling */
@media screen and (min-width: 720px) {


    .button {
        border-radius: 0.5rem;
        padding: 0.550rem 1rem;
        font-size: 1.1rem;
    }

    .header {
        flex-direction: row;
        margin-bottom: 2em;
        justify-content: space-between;
        margin-left: 5rem;
        margin-right: 5rem;


        & .logo {
            padding: 0;
            margin-bottom: 2rem;
         
            & img {
            max-width: 13rem;
         }

        
        }
    }

    .introCard {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 41.4375rem;
        margin: auto;


        & .introCardImageContainer {
            max-width: 32.5rem;
        }

        & .introCardImage {
            display: inline-block;
        }

        & .introCardTitle {
            display: inline-block;
            position: absolute;
            width: max-content;
            bottom: 100%;
            left: 0;
            background: white;
            color: var(--primaryTextBtnColor);
            padding-left: 1.63rem;
            padding-top: 0.94rem;
            padding-right: 0.81rem;
            padding-bottom: 0.44rem;
            }

        & .introCardText {
            color: var(--primaryTextBtnColor);
            background-color: white;
            padding-top: .6rem;
            max-width: 27.625rem;
            margin-left: 13.8125rem;
            font-size: 1.3rem;
            line-height: 2rem;
        }
    }

    /* Styling feitjes tablet */
    .facts {
        padding-top: 3.88rem;
        padding-left: 1rem;
        padding-right: 1rem;


        & .factsTitle {
            font-size: 1.5rem;
        }

        & .factsList {
            padding-top: 2rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 3.19rem;
        }

        & .fact {
            font-size: 1.250rem;
            padding-top: 0.45rem;
            padding-bottom: 0.45rem;
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 0.94rem;
            margin-left: 0.3rem;
            margin-right: 0.3rem;
        }
    }

    /* Tweede info kaart tablet styling */
    .introCardTwee {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: end;
        max-width: 41.4375rem;
        margin: auto;

        & .introCardImageContainerTwee {
            display: inline-block;
            position: relative;
            width: 100%;
            max-width: 30.5rem;
        }

        & .introCardImage {
            display: block;
            width: 100%;
            height: auto
        }

        & .introTextContainer {
            margin-right: 10.9375rem;
        }

        & .introCardTextTwee {
            color: var(--primaryTextBtnColor);
            padding-top: 1.31rem;
            padding-left: 2.44rem;
            padding-right: 0.81rem;
            font-size: 1.3rem;
            line-height: 2rem;
        }
    }

    /* Interview Jasper tablet styling */
    .profileJasper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1.25rem;
        margin-right: 1.25rem;


        & .profilePictureJasper {
            border-radius: 50%;
            margin-bottom: 2.2rem;
            margin-right: 2.82rem;
        }

        & .titleJasper {
            align-self: flex-start;
            color: var(--primaryTextBtnColor);
            font-size: 1.5rem;
        }

        & .textJasper {
            align-self: flex-start;
            color: black;
            font-size: 1.25rem;
            line-height: 2.1875rem;
            margin-top: 0.31rem;
        }

        & .buttonJasper {
            align-self: flex-start;
            border: none;
            border-radius: 0.3125rem;
            background: var(--html-blue, #00F);
            color: white;
            text-decoration: none;
            padding: 0.425rem .8rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
            margin-top: 0.94rem;
        }
    }

    /* .timelineContainer {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 1em;
        margin: 0 auto;
        margin-top: 7.22rem;

        & .timeline {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-start: 2;
            flex-direction: column;
            list-style: none;
            max-width: 45rem;
            padding-left: 0.63rem;
            padding-bottom: 6.5rem;
            border-left: none;
            
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                width: 2px;
                height: 100%;
                background-color: var(--primaryTextBtnColor);
            }
            & .event {
                flex-direction: column;
                position: relative;
                padding-left: .87rem;
                padding-bottom: 3.44rem;
                grid-column-start: 2;
               
                &:nth-child(odd) {
                    grid-column-start: 1; 
                    grid-column-end: 2;  
                    justify-self: end;
                }
                & .title {
                    color: blue;
                    font-size: 1.7rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.8rem;
                    margin-top: 0.31rem;
                }

                & .title::before {
                    content: "";
                    background-color: var(--primaryTextBtnColor);
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    position: absolute;
                    left: -0.965em;
                }

                & .date {
                    font-weight: 300;
                    z-index: 2;
                }

                & p {
                    font-size: 1rem;
                    font-weight: 300;
                    margin-top: 0.31rem;
                    margin-bottom: 1.56rem;
                    line-height: 1.5625rem;
                }

                & .imageTimelineMobile {
                   display: none;
                }

                & .imageTimelineDesktop {
                    display: flex;
                    max-width: 34.5625rem;
                    height: auto;
                }
            }
        }
    } */

    /* Reis door de tijd tablet styling */
    .reis {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 6.88rem;

        & .collageTitel {
            font-size: 1.7rem;
        }

        & .gridContainerMobile {
            display: none;
        }

        & .gridContainerTablet {
            display: grid;
        }
    }

    /* Felicitatie forum stylen tablet */
    .felicitatieSection {
        display: grid;
        margin-right: 5rem;
        margin-left: 2rem;

        & .felicitatieText {


            & h1 {

                font-size: 2.3rem;
                margin-bottom: .7rem;
            }

            & p {
                margin-top: .7em;
                font-size: 1.5rem;
            }
        }

        & .felicitatieForm {
            background-color: white;
            padding: 1em;
            grid-column-start: 1;
            grid-column-end: span 6;
            grid-row-start: 2;
            grid-row-end: span 8;
            margin-right: -3em;
            margin-left: 3em;
            margin-top: 3em;

            & label {
                font-size: 1.2em;
            }

            & input[type=text],
            input[type=email],
            textarea {
                font-size: 1.2em;
            }

            & textarea {
                font-size: 1.2em;
            }
        }
    }

    /* berichten voor felicitaties stylen tablet */
    .berichtenSection {
        display: flex;
        position: relative;
        align-items: center;

        & h2 {
            display: flex;
            justify-content: center;
            color: var(--primaryTextBtnColor);
            font-style: normal;
            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1.8125rem;
            padding-top: 6.87rem;
        }

        & .berichtenLijst {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 2em;
            margin-left: 2.59rem;
            margin-right: 1.44rem;
            margin-bottom: 4.75rem;

            & li {
                border-left: 0.1em solid var(--dim, #888);
                padding: 1em;
                margin-bottom: 3em;
                width: 40vw;

                & p {
                    font-size: 1.3rem;
                }

                & span {
                    font-size: 1.15rem;
                }
            }
        }

    }
}


@media screen and (min-width: 1080px) {


 .header {
        flex-direction: row;
        margin-bottom: 2em;
        justify-content: space-between;
        margin-left: 5rem;
        margin-right: 5rem;


        & .logo {
            padding: 0;
            margin-bottom: 2rem;
         
            & img {
            max-width: 15.5rem;
         }

        
        }
    }    
/* 
    .introCard {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 72.5rem;
        overflow: visible;
        margin: 0;
    
    e
        & .introCardImageContainer {
            position: relative;
            width: 35.375rem;
            grid-area: image;
    
        & .introCardImage {
            width: 100%;
            display: block;
            height: auto;
        } }
    
        & .introCardTextContainer {
            position: relative;
            grid-area: text;
        }
        & .introCardTitle {
            display: initial;
            position: initial;
            width: initial;
            max-width: 100%;
            margin-left: 0;
            bottom: initial;
            right: initial;
            padding: initial;
        }
    
        & .introCardText {
            color: var(--primaryTextBtnColor);
            background-color: white;
            padding: initial;
    }

} */

.introCard {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 72.5rem;
    margin: auto;
    overflow: visible;


    & .introCardImageContainer {
        max-width: 35.375rem;
        z-index: ;
    }

    & .introCardImage {
        display: block;

        & img {
            width: 100%;
            height: auto;
        }
    }
    
    & .introCardTextContainer {
        position: relative;
        width: 100%;
        height: auto;
    
    & .introCardTitle {
        display: flex;
        position: relative;
        width: initial;
        bottom: initial;
        left: initial;
        background: white;
        color: var(--primaryTextBtnColor);
        padding-left: 1.63rem;
        padding-top: 0.94rem;
        padding-right: 0.81rem;
        padding-bottom: 0.44rem;
        }

    & .introCardText {
        color: var(--primaryTextBtnColor);
        font-size: 1.563rem;
        line-height: 2.313rem;
        background-color: white;
        padding: initial;
        padding-left: 10rem;
        max-width: fit-content;
        /* max-height: 24.75rem; */
        margin-left: 0;
    }}
}
}